//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 08 17:22:34 2022
//! **************************************************************************

SCHEMATIC START;
COMP "SW<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "V3" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "R4" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "P6" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "P5" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "P8" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "W3" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "E6" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "Y4" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "D5" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "Y1" LEVEL 1;
COMP "BTN<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "Y3" LEVEL 1;
COMP "BTN<3>" LOCATE = SITE "AB9" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "AB4" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "W1" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "AB3" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "AA4" LEVEL 1;
COMP "CLK" LOCATE = SITE "D11" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "V5" LEVEL 1;
SCHEMATIC END;

