//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 29 16:05:08 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "D11" LEVEL 1;
COMP "pause_play" LOCATE = SITE "P8" LEVEL 1;
COMP "back" LOCATE = SITE "AB9" LEVEL 1;
COMP "switches<0>" LOCATE = SITE "V3" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "R4" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "W3" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "Y4" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "Y1" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "Y3" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "AB4" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "W1" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "AB3" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "AA4" LEVEL 1;
COMP "reset" LOCATE = SITE "V5" LEVEL 1;
COMP "AUD_ADCDAT" LOCATE = SITE "C6" LEVEL 1;
COMP "AUD_DACDAT" LOCATE = SITE "A5" LEVEL 1;
COMP "hw_ram_ck" LOCATE = SITE "F2" LEVEL 1;
COMP "hw_ram_ad<10>" LOCATE = SITE "K6" LEVEL 1;
COMP "hw_ram_ad<11>" LOCATE = SITE "B1" LEVEL 1;
COMP "hw_ram_ad<12>" LOCATE = SITE "J4" LEVEL 1;
COMP "scroll_down" LOCATE = SITE "D5" LEVEL 1;
COMP "hw_ram_dq<10>" LOCATE = SITE "R3" LEVEL 1;
COMP "hw_ram_dq<11>" LOCATE = SITE "R1" LEVEL 1;
COMP "hw_ram_dq<12>" LOCATE = SITE "U3" LEVEL 1;
COMP "hw_ram_dq<13>" LOCATE = SITE "U1" LEVEL 1;
COMP "hw_ram_dq<14>" LOCATE = SITE "V2" LEVEL 1;
COMP "hw_ram_dq<15>" LOCATE = SITE "V1" LEVEL 1;
COMP "rs232_rx" LOCATE = SITE "T19" LEVEL 1;
COMP "rs232_tx" LOCATE = SITE "T20" LEVEL 1;
COMP "scroll_up" LOCATE = SITE "E6" LEVEL 1;
COMP "hw_ram_ldqs_n" LOCATE = SITE "L1" LEVEL 1;
COMP "hw_ram_ldqs_p" LOCATE = SITE "L3" LEVEL 1;
COMP "AUD_I2C_SDAT" LOCATE = SITE "C5" LEVEL 1;
COMP "AUD_I2C_SCLK" LOCATE = SITE "A4" LEVEL 1;
COMP "hw_ram_udqs_n" LOCATE = SITE "T1" LEVEL 1;
COMP "hw_ram_udqs_p" LOCATE = SITE "T2" LEVEL 1;
COMP "select" LOCATE = SITE "A3" LEVEL 1;
COMP "hw_ram_ba<0>" LOCATE = SITE "E3" LEVEL 1;
COMP "hw_ram_ba<1>" LOCATE = SITE "E1" LEVEL 1;
COMP "hw_ram_ba<2>" LOCATE = SITE "D1" LEVEL 1;
COMP "hw_ram_ad<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "hw_ram_ad<1>" LOCATE = SITE "L4" LEVEL 1;
COMP "hw_ram_ad<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "hw_ram_ad<3>" LOCATE = SITE "M4" LEVEL 1;
COMP "hw_ram_ad<4>" LOCATE = SITE "K5" LEVEL 1;
COMP "hw_ram_ad<5>" LOCATE = SITE "G3" LEVEL 1;
COMP "hw_ram_ad<6>" LOCATE = SITE "G1" LEVEL 1;
COMP "hw_ram_ad<7>" LOCATE = SITE "K4" LEVEL 1;
COMP "hw_ram_ad<8>" LOCATE = SITE "C3" LEVEL 1;
COMP "hw_ram_ad<9>" LOCATE = SITE "C1" LEVEL 1;
COMP "hw_ram_dq<0>" LOCATE = SITE "N3" LEVEL 1;
COMP "hw_ram_dq<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "hw_ram_dq<2>" LOCATE = SITE "M2" LEVEL 1;
COMP "hw_ram_dq<3>" LOCATE = SITE "M1" LEVEL 1;
COMP "hw_ram_dq<4>" LOCATE = SITE "J3" LEVEL 1;
COMP "hw_ram_dq<5>" LOCATE = SITE "J1" LEVEL 1;
COMP "hw_ram_dq<6>" LOCATE = SITE "K2" LEVEL 1;
COMP "hw_ram_dq<7>" LOCATE = SITE "K1" LEVEL 1;
COMP "hw_ram_dq<8>" LOCATE = SITE "P2" LEVEL 1;
COMP "hw_ram_dq<9>" LOCATE = SITE "P1" LEVEL 1;
COMP "AUD_ADCLRCK" LOCATE = SITE "B6" LEVEL 1;
COMP "AUD_DACLRCK" LOCATE = SITE "D6" LEVEL 1;
COMP "AUD_BCLK" LOCATE = SITE "B12" LEVEL 1;
COMP "AUD_MUTE" LOCATE = SITE "A15" LEVEL 1;
COMP "hw_ram_casn" LOCATE = SITE "P3" LEVEL 1;
COMP "hw_ram_rasn" LOCATE = SITE "N4" LEVEL 1;
COMP "AUD_XCK" LOCATE = SITE "A6" LEVEL 1;
COMP "hw_ram_cke" LOCATE = SITE "J6" LEVEL 1;
COMP "hw_ram_ckn" LOCATE = SITE "F1" LEVEL 1;
COMP "hw_ram_ldm" LOCATE = SITE "H1" LEVEL 1;
COMP "hw_ram_odt" LOCATE = SITE "M3" LEVEL 1;
COMP "hw_ram_udm" LOCATE = SITE "H2" LEVEL 1;
COMP "hw_ram_wen" LOCATE = SITE "D2" LEVEL 1;
PIN wiz/clkout1_buf_pin<1> = BEL "wiz/clkout1_buf" PINNAME O;
PIN "wiz/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

